<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Charting" version="0.91.1" targetFramework="net45" />
  <package id="FSharp.Core" version="4.3.4" targetFramework="net45" />
  <package id="FSharp.Data" version="2.4.6" targetFramework="net45" />
  <package id="FSharp.Json" version="0.3.3" targetFramework="net452" />
</packages>